* {
  margin: 0;
  padding: 24px;
}
body {
  color: white;
}
.section {
  background-color: red;
}
.container {
  background-color: green;
  max-width: 1200px;
  margin-inline: auto;
}
.wrapper {
  background-color: blue;
  padding-block: 64px;
}
