* {
  margin: 0;
  padding: 0;
}
body {
  /* color: white; */
}
.section {
  /* background-color: red; */
}
.container {
  /* background-color: green; */
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  display: flex;
}
.wrapper {
  /* background-color: blue; */
  padding-block: 64px;
}

.nav {
  background-color: black;
  color: white;
  font-weight: 700px;
}

.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-block: 12px;
}

.nav .nav_menuWrapper1 {
  display: flex;
  gap: 24px;
  align-items: baseline;
}

.nav .nav_menuWrapper2 {
  display: flex;
  gap: 12px;
  align-items: baseline;
}

.button {
  background-color: slateblue;
  padding: 8px 16px;
  border-radius: 8px;
}
